body {
  background: #3b4262;
  color: #ffffff;
  font-family: arial, sans-serif;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  border: #1c285a 1px solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.item .image {
  padding: 1em 2em;
}
.like-share-msg {
  /* display: none; */
  border-bottom: 1px solid #232b50;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.item .image img {
  border-radius: 50%;
  height: 5em;
  border: 0.35em solid #5ed3bf;
}
.item .image span {
  display: block;
  clear: both;
  padding: 0.25em 0;

  background: #3b4262;
}
.item .details {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item .details > div h1 {
  color: #5ed3bf;
  font-size: 1.4em;
  margin: 0;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.1em;
}
.item .details > div p {
  margin: 0;
  padding: 0;
  line-height: 150%;
}
/* .item .details::before {
  content: '';
  width: 0;
  height: 100%;
  border-left: 1px solid #232b50;
  position: absolute;
  top: 0;
  left: -4.35em;
  z-index: -1;
} */
.your_thinking {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #232b50;
  border-radius: 0.5em;
  padding: 1.5em;
  position: relative;
  text-align: center;
  font-size: 0.8em;
  border-bottom: #1c285a 1px solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}


.your_thinking .your_self .your_avatar img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: none;
}
.your_content {
    margin-bottom: 40px;
  width: 90%;  
  
}
.your_avatar {
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: flex;
  border-bottom: 1px solid #232b50 ;
}
.your_content button {
    position: relative;
    background: #b0b3b8;
    height: 60px;
    border-radius: 40px;
    width: 75%;
    font-size: 40px;
    padding-left: 40px;
    cursor: pointer;
    outline: none;
}
.your_content:hover button {
  background: #e3e8f1;
}
.like_share {
  display: flex;
  justify-content: space-between;

}
.camera i {
  color: rgb(202, 60, 60);
  font-size: 30px;
  margin-right: 20px;

}
.camera {
  display: flex;
  align-items: center;
}
.your-thinking-box {
  display: none;
  max-width: 1000px;
  position: absolute;
  background: #232b50;
  margin: 0 auto;  
  top: 20%;
  left: 35%;
  height: 400px;
  width: 600px;
  z-index: 111;
  border-radius: 8px;
  opacity: 1.0;
}
.your-thinking-box-top {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #7d7d9d;
}
.your-thinking-box-top-content {
  margin: 20px auto;
  text-align: center;

}
.close-content {
  text-align: right;
  margin: 20px;
}
.close-content:hover i {
  color: #e2e2f0;
}
.close-content i {
  font-size: 20px;
  color: #7d7d9d;
  cursor: pointer;
}
.content-earth-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.content-earth-box i {
  margin-left: 5px;
}
.avartar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avartar-main-box {
  display: flex;
}
.content-earth {
  display: flex;
  cursor: pointer;
  
}
.avartar-main-box-content {
margin-left: 10px;
line-height: 1.5;
}
.margin-5px {
  margin-left: 5px;
}
.content-earth {
  background: royalblue;
  width: 125px;
  border-radius: 5px;
}
.int-box {
  margin-bottom: 50px;
}
.int-box input {
  width: 80%;
  outline: none;
  border: none;
  background: none;
  margin: 20px;
  color: #e2e2f0;
  font-size: 25px;
}
.addcontent {
  border: 1px solid #7d7d9d;
  width: 90%;
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
  }
.addcontent-icon {
  display: flex;
  margin: 12px;

}
.addcontent-content button {
  outline: none;
  background: none;
  color: #e2e2f0;
  margin: 20px;
  border: none;
}
.incon-inbox {
  margin: 5px; 
}
.incon-inbox-video i {
  color: #fa383e;
  font-size: 20px;
}
.incon-inbox-tie i {
color: #3578e5;
font-size: 20px;
}
.incon-inbox-grin i {
  color: #f5c33b;
  font-size: 20px;
}
.incon-inbox-alt i {
  color: #a37d82;
  font-size: 20px;
}
.incon-inbox-mic i {
 color: #fa383e;
 font-size: 20px;
}
.icon-dot i {
  font-size: 20px;
}
.send-msg {
text-align: center;
width: calc(100% - 50px);
border: 1px solid #4b5685;
cursor: pointer;
}
.send-msg {
  text-align: center;
  width: calc(100% - 50px);
  border: 1px solid #4b5685;
  margin: 5px auto;
  padding: 10px;
  background: #2b3d66;
  border-radius: 10px;
}
.congkhai {
  display: none;
  max-width: 1000px;
  position: absolute;
  background: #232b50;
  margin: 0 auto;  
  top: 10%;
  left: 35%;
  height: 600px;
  width: 600px;
  z-index: 12;
  border-radius: 15px;
  
  overflow: hidden;
}
.congkhaimrg {
  padding: 20px;
}
.congkhai-top {
  display: flex;
  margin: 0px auto;
  width: 100%;

}
.congkhai-close {
  padding: 10px;
  background: #686e86;
  border-radius: 50%;
  cursor: pointer;
}
.congkhai-chon {
  text-align: center;
  margin: 0 auto;
}
.congkhai-chon span {
  font-size: 30px;
}
.congkhai-close i {
  font-size: 20px;
}
.congkhai-main {
  line-height: 2;
}
.congkhai-top {
  border-bottom: 1px solid #686e86;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.congkhai-top form {
  width: 100%;
}
.congkhai-main-content-1 span {
  font-size: 20px;
  font-weight: bold;
}
.congkhai-cancel {
  display: none;
} 
.label-input {
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer ;
   transition: all 0.7s ease;
}
.boldcontent {
  font-weight: bold;
  font-size: 25px;
}
.mrgRight {
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  background: #3b4262;
}
.mrgRight i {
  font-size: 30px;  
}
.label-input-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.label-input-content i {
  
  
  margin-top: 20px;
    font-size: 25px;
}
.label-input-content-main {
 
  margin: auto 0;
}
.label-input-content input {
  margin: auto 0;
}
.label-input:hover {
  background: #8991b3;
  border-radius: 10px;
}
.label-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.share-comment {
  display: flex;
 

}
.share-comment-avatar {
  margin-right: 10px;
}
.share-comment-avatar img {
  width:60px;
  height:60px;
  border-radius:50%;

}
.share-more {
  margin: 20px;
}
.share-comment-content {
  display: grid;
  background: #667791;
  padding: 15px;
  
  border-radius:20px;
}
.share-comment-content-names {
  font-size: 19px;
  font-weight: bold;  
}

.label-input-content i {
  font-size: 30px;
  margin-top: 12px;
}
.input-share input {
  outline: none;
  background: none;
  width: 90%;
  height: 50px;
  font-size: 20px;
  border: 1px solid #4b5685;
  border-radius: 15px;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 20px;
  color: #e2e2f0;
}
.margin-btn {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #4b5685;
}
.margin-btn1 {
  margin-bottom: 20px;
}
.sharewith span {
  font-size: 30px;
  left: 20%;
}
.margin-btn1 span {
  color: #a7acc2;
}
.share-cancel {
   background: none;
    border: none;
    color: rgb(190, 190, 206);
    font-size: 30px;
    cursor: pointer;
}
.share-cancel:hover {
  background: #62677a;
  padding: 10px;
  border-radius: 10px;
}
.share-save {
  color: rgb(190, 190, 206);
  background: #62677a;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  outline: none;
}
.cancel-save {
  text-align: right;
}
.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #e1e1e1;
  border: 4px solid #e1e1e1;
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: 10px;
}
.details-content img {
  width: 100%;
}
.regular-radio:checked + label {
  background: grey;
  border: 4px solid #e1e1e1;
}
.opacity-web {
  display: none;
  opacity: 0.3;
background: rgb(116, 118, 139);
z-index: 10;
width: 100%;
height: 100%;
position: absolute;
}    
.details-content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4b5685;
}
.like-msg {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #4b5685;
}
.icon-like i {
  font-size: 18px;
  padding: 3px;
  color: #94bcc2;
}
.msg-icon button {
  color: #ffffff;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;

  }
  .like-share-msg-content {
    display: flex;
    justify-content: space-around;
  }
  .btnreadmore {
    outline: none;
    background: none;
    border: none;
    color: rgb(167, 162, 190);
    font-size: 20px;
    cursor: pointer;
}
.comment-inbox {
  display: none;
}

.dotsshowmore {
  display: none;
}
  @media only screen and (max-width: 700px) {
    body {
      width: 100%;
    }
    .rps-date {
      display: flex;
      justify-content: space-between;
    }

    .item {
      flex-direction: column;
    }

    .rps-date span {
      margin-top: 25px;
    }

    #thinkingbox {
      font-size: 30px;
    }
    .details-content {
      border: none; 
    }
    .item {     
      border: 1px solid #1c285a;
    }
    .details-content img {
      width: 100%;
    }
  }